body {
    background: black;
}
.container {
    background-color: #BB1233;
    margin: 15% auto;
    width: 500px;
    border-radius: 5px; 
    border: white solid 1px;

    .logo {
        margin: 20px 30px;
    }
    
    .display {
        background-color: #2D2829;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: 7%;
        width: 80%;
        height: 80px;
        color: white;
        padding-right: 5%;
        font-size: 2.5rem;
        border-radius: 40px;
    }

    .App {
        text-align: center;
        display: flex;

        .button-organizer {
            width: 75%;
            .special-button {
                background: #2061B0;
                color: white;
                height: 80px;
                width: 80px;
                border-radius: 50%;
                border: black;
                box-shadow: 1px 3px black;
                margin: 10px;
                font-size: 2.5rem;
            }
    
            .number-button {
                background: #113C78;
                color: white;
                height: 80px;
                width: 80px;
                border-radius: 50%;
                border: black;
                box-shadow: 1px 3px black;
                margin: 10px;
                font-size: 2.5rem;
            }
            [data=number0] {
                width: 180px;
                border-radius: 50px;
            }
        }

        .operator-container {
            width: 10%;
            .operator-button {
                background: #3DB5E5;
                color: white;
                height: 80px;
                width: 80px;
                border-radius: 50%;
                border: black;
                box-shadow: 1px 3px black;
                margin: 10px -10px;
                font-size: 2.5rem;
    
            }
        }
    }
}
